html, body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  height: 100%;
}

body {
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
  background-color: hsl(0, 0%, 96%);
}

.wf-active {
  &, input{
    font-family: 'Roboto', Arial,sans-serif;;
  }
}