<div class="nso-app">
  
  <div class="omnibox">
    <div class="searchbox">
      <input type="search" ng-model="rootCtrl.SearchService.searchTerm" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
    </div>
  </div>
  
  <nso-graph module-name="{{ rootCtrl.SearchService.searchTerm }}" node-scale="{{ rootCtrl.scale }}" network-options="rootCtrl.networkOptions"></nso-graph>
  
  <div class="app-bottom-content-anchor" hidden>
    <ul>
      <li>
        <button ng-click="rootCtrl.toggleLayout()">Toggle layout</button>
      </li>
    </ul>
  </div>
  
</div>