.app-bottom-content-anchor {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  margin-bottom: 24px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.option-panel {
  position: absolute;
  right: 30;
  bottom: 0; }
